@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F5F5;
  --foreground: #333333;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #F2F2F2;
  }
}
*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

